<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>What's the weather</title>
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="../static/sass_and_css/home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="../static/js/home.js"></script>
     </head>
    <body>      
        <nav>
                <ul class="nav navbar">
                  <li class="active">
                    <a href="#" class="navbartxt">Home</a>
                  </li>
                  <li>
                    <a href="#" target="_blank" class="navbartxt">What's the weather</a>
                  </li>
                </ul>
        </nav>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Today
              </button>
            </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <b id="today_day">Today:</b>
              <p><img  id="today_icon" width="90" height="90"></p>
              <p>temp: <span id=today_temp></span></p> 
              <p>humidity: <span id=today_humidity></span></p>
              <p>rain:<span id=today_rain></span></p>
              <p>wind speed: <span id=today_wspeed></span></p>
              <p>clouds: <span id=today_clouds></span></p>
            </div>
          </div>
        </div>

      <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              For 3 days
            </button>
          </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="row align-items-end">
              <div class="col"  id = "three_days">
                <b id="3days_day0">First_day</b>
                <p><img  id="3days_icon0" width="90" height="90"></p>
                <p>temp:<span id="3days_temp0"></span></p>
                <p>humidity:<span id="3days_humidity0"></span></p>
                <p>rain: <span id="3days_rain0"></span></p>
                <p>wind speed:<span id="3days_windSpeed0"></span></p>
                <p>clouds:<span id="3days_clouds0"></span></p>
              </div>
              <div class="col">
                <b id="3days_day1">Second_day</b>
                <p><img  id="3days_icon1" width="90" height="90"></p>
                <p>temp:<span id="3days_temp1"></span></p>
                <p>humidity:<span id="3days_humidity1"></span></p>
                <p>rain:<span id="3days_rain1"></span></p>
                <p>wind speed:<span id="3days_windSpeed1"></span></p>
                <p>clouds:<span id="3days_clouds1"></span></p>
              </div>
              <div class="col">
                <b id="3days_day2">Third_day</b>
                <p><img  id="3days_icon2" width="90" height="90"></p>
                <p>temp:<span id="3days_temp2"></span></p>
                <p>humidity:<span id="3days_humidity2"></span></p>
                <p>rain:<span id="3days_rain2"></span></p>
                <p>wind speed:<span id="3days_windSpeed2"></span></p>
                <p>clouds:<span id="3days_clouds2"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             For 7 days
          </button>
        </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
          <div class="row align-items-end">
            <div class="col">
              <b>First_day</b>
              <p><img  id="7days_icon0" width="90" height="90"></p>
              <p>temp:<span id="7days_temp0"></span></p>
              <p>humidity:<span id="7days_humidity0"></span></p>
              <p>rain:<span id="7days_rain0"></span></p>
              <p>wind speed:<span id="7days_wSpeed0"></span></p>
              <p>clouds:<span id="7days_clouds0"></span></p>
            </div>
            <div class="col">
              <b>Second_day</b>
              <p><img  id="7days_icon1" width="90" height="90"></p>
              <p>temp:<span id="7days_temp1"></span></p>
              <p>humidity:<span id="7days_humidity1"></span></p>
              <p>rain:<span id="7days_rain1"></span></p>
              <p>wind speed:<span id="7days_wSpeed1"></span></p>
              <p>clouds:<span id="7days_clouds1"></span></p>
            </div>
            <div class="col">
              <b>Third_day</b>
              <p><img  id="7days_icon2" width="90" height="90"></p>
              <p>temp:<span id="7days_temp2"></span></p>
              <p>humidity:<span id="7days_humidity2"></span></p>
              <p>rain:<span id="7days_rain2"></span></p>
              <p>wind speed:<span id="7days_wSpeed2"></span></p>
              <p>clouds:<span id="7days_clouds2"></span></p>
            </div>
            <div class="col">
              <b>Forth_day</b>
              <p><img  id="7days_icon3" width="90" height="90"></p>
              <p>temp:<span id="7days_temp3"></span></p>
              <p>humidity:<span id="7days_humidity3"></span></p>
              <p>rain:<span id="7days_rain3"></span></p>
              <p>wind speed:<span id="7days_wSpeed3"></span></p>
              <p>clouds:<span id="7days_clouds3"></span></p>
            </div>
            <div class="col">
              <b>Fifth_day</b>
              <p><img  id="7days_icon4" width="90" height="90"></p>
              <p>temp:<span id="7days_temp4"></span></p>
              <p>humidity:<span id="7days_humidity4"></span></p>
              <p>rain:<span id="7days_rain4"></span></p>
              <p>wind speed:<span id="7days_wSpeed4"></span></p>
              <p>clouds:<span id="7days_clouds4"></span></p>
            </div>
            <div class="col">
              <b>Sixth_day</b>
              <p><img  id="7days_icon5" width="90" height="90"></p>
              <p>temp:<span id="7days_temp5"></span></p>
              <p>humidity:<span id="7days_humidity5"></span></p>
              <p>rain:<span id="7days_rain5"></span></p>
              <p>wind speed:<span id="7days_wSpeed5"></span></p>
              <p>clouds:<span id="7days_clouds5"></span></p>
            </div>
           <div class="col">
              <b>Seventh_day</b>
              <p><img  id="7days_icon6" width="90" height="90"></p>
              <p>temp:<span id="7days_temp6"></span></p>
              <p>humidity:<span id="7days_humidity6"></span></p>
              <p>rain:<span id="7days_rain6"></span></p>
              <p>wind speed:<span id="7days_wSpeed6"></span></p>
              <p>clouds:<span id="7days_clouds6"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </body>
</html>