body nav {
    background: rgb(231, 231, 188) !important;
    border-radius: 0 !important;
  }

.navbartxt {
  color: black!important;
  text-decoration: none !important;
  font-family: "Lucida Console" , monospace;
  margin: auto;
  display: flex;
  flex-direction: row;
  font-size: large;
}

body{
  background: rgba(177, 201, 252, 0.87) !important;
}

.accordion-body{
  text-align: center;
  background: rgba(177, 201, 252, 0.87) !important;
}

#acordion-text{
  font-size: large;
}

body div div div p {
  font-size: large;
}

body div div div b {
  font-size: large;
}